# RL outputs
logs/
models/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Conda
.env
.venv

# RL outputs
logs/
videos/

# Ignore model files by default, but allow selected solved models
models/**/*.pt
!models/
!models/sac_normal/
!models/sac_hardcore/
!models/sac_normal/solved.pt
!models/sac_hardcore/solved.pt